/* Aspect styling with image, title, number overlay and description*/
.aspect-wrap {
    justify-content: center;
    display: flex;
    padding-bottom: var(--fluid-space-m);
}

.aspect-image {
    width: 50%;
    position: relative;
}


.aspect-image-right img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-top-right-radius: var(--small);
    border-bottom-right-radius: var(--small);
}

.aspect-image-left img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-top-left-radius: var(--small);
    border-bottom-left-radius: var(--small);
}


.aspect-image-left .image-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    border-top-left-radius: var(--small);
    border-bottom-left-radius: var(--small);
}

.aspect-image-right .image-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    border-top-right-radius: var(--small);
    border-bottom-right-radius: var(--small);
}


.number-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: var(--xxxl);
}

.aspect-information {
    flex: 0 0 auto;
    width: 50%;
    
}

.information-backg-right {
    background-color: black;
    text-align: center;
    height: 100%;
    border-top-right-radius: var(--small);
    border-bottom-right-radius: var(--small);
}

.information-backg-left {
    background-color: black;
    text-align: center;
    height: 100%;
    border-top-left-radius: var(--small);
    border-bottom-left-radius: var(--small);
}

.information-display {
    height: 100%;
    display: flex;
}

.information-center {
    font-size: 90%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
    margin-left: 10%;
    width: 100%;
}

.text-white {
    color: white;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5);
}