 /* styling for the best practices of aspect */

 .best-practice {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
 }

 .best-practice h4 {
    text-align: center;
    font-size: var(--font-size-info-title);
    color: var(--color-catch-title);
    padding-bottom: 40px;
    line-height: var(--catch-title-line-height);
    letter-spacing: -2.1px;
 }
.best-practice-outer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.best-practice-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.best-practice-card {
    width: 100%;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.796192px 2.38858px -0.625px,
    rgba(0, 0, 0, 0.05) 0px 2.41451px 7.24352px -1.25px,
    rgba(0, 0, 0, 0.05) 0px 6.38265px 19.148px -1.875px,
    rgba(0, 0, 0, 0.05) 0px 20px 60px -2.5px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.best-practice-card-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 30px;
}

.best-practice-card-top h5 {
    font-size: var(--font-size-title);
    margin: 0;
    font-weight: var(--font-weight-bold);
    color: #313942;
    letter-spacing: -0.021em;
    line-height: 1.2em;
}

.best-practice-card-bottom {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 30px;
}

.best-practice-card-bottom p {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    letter-spacing: -0.011em;
    color: var(--color-info-text);
    line-height: 1.5em;
}

@media screen and (max-width: 800px) {
    .best-practice-outer {
        flex-direction: column;
    }
    .best-practice-inner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
