 /* styling for the best practices of aspect */

 .best-practice {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
 }

 .best-practice h4 {
    text-align: center;
    font-size: var(--font-size-m);
    color: var(--text);
    padding-bottom: 40px;
    line-height: var(--catch-title-line-height);
    letter-spacing: -2.1px;
 }


.best-practice-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.best-practice-inner-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.best-practice-card {
    border-radius: 1rem;
    padding: 30px;
    width: 100%;
}

.best-practice-card h5 {
    font-size: var(--font-size-title);
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: var(--font-weight-bold);
    color: #313942;
    letter-spacing: -0.021em;
}

.best-practice-card p{
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    letter-spacing: -0.011em;
    color: #313942;
    line-height: 1.5em;
}



@media screen and (max-width: 800px) {
    .best-practice-container {
        display: flex;
        flex-direction: column;
    }
    .best-practice-inner-container {
        width: 100%;
    }
    .best-practice h4 {
        text-align: left;
     }
    
}

