/* Styles for the aspect pages*/

.information-text {
    padding-bottom: var(--fluid-space-s);
}

.information-point {
    padding-bottom: var(--fluid-space-m);
}

.main-text {
    font-size: 1.2rem;
    font-weight: 250;
}

.light-text {
    font-size: 1rem;
}