/* basic styles for the landing page and aspect pages*/
* {
  box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-family: var(--font-family-sans);
    font-size: var(--base-font-size);
    font-weight: var(--fw-light);
    hyphens: auto;
    line-height: var(--lh-default);
    scroll-behavior: smooth;
}


body {
    background-color: var(--darken-light);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100vw;
}



h1,
h2,
h3,
h4 {
    margin-bottom: var(--m);
    color: var(--headline-color);
    font-family: var(--font-family-headlines);
    font-weight: var(--fw-bold);
    hyphens: none;
    line-height: var(--lh-tight);
}


h1 {
    text-align: center;
    margin-top: var(--fluid-space-m);
    font-size: var(--xxxl);
}

h2 {
    text-align: center;
    margin-top: var(--fluid-space-s);
    font-size: var(--l);
    margin-bottom: var(--l);
    color: var(--mi-pink);
    font-weight: var(--fw-medium);
    
}

h3 {
    font-size: var(--l);
    font-weight: var(--fw-medium);
}

body > *:not(main):not(header),
.main-content-wrap > * {
    padding: var(--fluid-space-m);
}

.section-content-wrap {

    padding: var(--fluid-space-xl);
    padding-top: var(--fluid-space-m);
}



p {
    margin-bottom: var(--xs);
}

p + h2 {
    margin-top: var(--l);
}

p + h3 {
    margin-top: var(--l);
}

a:link, a:visited {
    text-decoration: none;
   }




