
.code-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    overflow: auto;
}

.code-snippet {
    display: block;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: #282c34;
    width: 100%;
    overflow: auto;
}

pre, code {
    font-size: .875rem;
}



@media screen and (max-width: 1000px) {
    .code-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        overflow: auto;
    }
    pre, code {
        font-size: 13px;
    }
}

