/* custom and downlaoded fonts */

/* Inter Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* Custom Fonts */
@font-face {
    font-display: swap;
    font-family: LoveLive;
    font-style: regular;
    font-weight: 400;
    src: url("../fonts/love_live/LoveLive-nAxlP.ttf");
}

@font-face {
    font-display: swap;
    font-family: YourMurdererBB;
    font-style: regular;
    font-weight: 400;
    src: url("../fonts/you_murderer_bb/Youmurdererbb-pwoK.otf");
}

@font-face {
    font-display: swap;
    font-family: Orbitron;
    font-weight: normal;
    src: url("../fonts/orbitron/Orbitron-VariableFont_wght.ttf")
}

@font-face {
    font-display: swap;
    font-family: Righteous;
    font-weight: regular;
    src: url("../fonts/righteous/Righteous-Regular.ttf")
}