/* styling for the information section with questions and answers about the roadmap */

.information-container {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 320px;
}

.question-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    padding: 30px;
    border-radius: 25px;
    box-shadow: var(--shadow-for-box);
    gap: 20px;
}

.question-title {
    font-size: var(--font-size-link-card-bottom);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.8px;
    line-height: var(--catch-title-line-height);
    text-align: left;
    color: rgb(51, 51, 51);
}

.answer-text {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.6em;
    text-align: left;
    color: var(--color-catch-text);
}



/* responsive size for smaller screens */
@media screen and (max-width: 1100px) { 
    .information-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .column-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .question-card {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
}