/* styling for info title and text */

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 116px 50px 116px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.info-container > .info-title h2{
    font-size: var(--font-size-m);
}


.info-container > .info-text p{
    text-align: center;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-medium);
    color: var(--color-catch-text);
    letter-spacing: var(--catch-text-spacing);
    line-height: var(--catch-text-line-height);
    max-width: 500px;
}



/* responsive size for phones */
@media screen and (max-width: 600px) {
    .info-container {
        padding: 60px 20px;
    }
    .info-container > .info-title h2 {
        text-align: left;
        letter-spacing: var(--h4-header-spacing);
        line-height: 1.1em;
    }
    .info-container > .info-text p {
        text-align: left;
    }
}

@media screen and (max-width: 800px) {
    .info-container > .info-text p {
        text-align: left;
    }
}
