
.intro {
    background-color: rgb(23,24,28);
    display: flex;
    border-radius: var(--small);
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
    align-items: center;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.intro-text {
    margin-right: 120px;
}

.intro-text h3 {
    font-size: 3rem;
    font-weight: 650;
}

.intro-text p {
    font-size: 0.9rem;
    font-weight: 250;
}


.intro img{
    width: 30%;
    height: 30%;
}



.info {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 130px;
}

.info-text {
    display: block;
    align-self: center;
    margin-right: 120px;
}

.info-text p {
    font-size: 1.3rem;
}

.info img{
    width: 100%;
    height: 100%;
    border-radius: var(--small);
}