/* styling for the landing page intro title, text and example */

/* title and text */
.title-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 168px;
    padding-bottom: 168px;
}


.title-card h1 {
    padding-bottom: 42px;
    animation-name: fadeIn;
    animation-duration: 2s;
    
}

.title-card p {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-medium);
    background: linear-gradient(120deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    width: 400px;
}

/* title animation for fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0% {
        transform: translateY(+40%);
    }
}


/* catch-title, text and example */
.catch-container {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

/* catch title and text  */
.catch-container > .catch-info {
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    text-align: left;
}

.catch-container > .catch-info > .catch-info-inner {
    width: 400px;
    padding: 20px;
}

.catch-container > .catch-info h2 {
    line-height: var(--catch-title-line-height);
    padding-bottom: 20px;
    letter-spacing: var(--catch-title-spacing);
}

.catch-container > .catch-info p {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-medium);
    color: var(--color-catch-text);
    letter-spacing: var(--catch-text-spacing);
    line-height: var(--catch-text-line-height);
}


/* font showcase example */
.catch-example {
    width: 50%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.example {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.example-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 .7961918735236395px 2.3885756205709185px -.625px #0000000d,
        0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d,
        0 6.382653521484461px 19.147960564453385px -1.875px #0000000d,
        0 20px 60px -2.5px #0000000d;
    width: 300px;
    height: 200px;
    text-align: center;
}

.font-1 {
    font-family: var(--font-family-example-1);
    font-size: var(--font-size-example-1);
}

.font-2 {
    font-family: var(--font-family-example-2);
    font-size: var(--font-size-example-2);
    line-height: 55px;
}

.font-3 {
    font-family: var(--font-family-example-3);
    font-size: var(--font-size-example-3);
    font-weight: 700;
}

.font-4 {
    font-family: var(--font-family-example-4);
    font-size: var(--font-size-example-4);
}



/* responsive size for medium screens */
@media screen and (max-width: 1300px) {
    .catch-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: relative;
    }
    .catch-container > .catch-info {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        text-align: left;
    }
    .catch-container > .catch-info > .catch-info-inner {
        width: 600px;
        padding-bottom: 60px;
    }
}


/* responsive size for example fonts */
@media screen and (max-width: 700px) {
    .example {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .catch-example {
        width: 100%;
        padding: 0 20px;
    }

    .example-box {
        width: 100%;
    }
    .example-box > p > br {
        display: none;
    }
}


/* responsive size for phones */
@media screen and (max-width: 600px) {
    .title-card {
        padding: 113px 20px;
    }
    .title-card h1 {
        letter-spacing: -3.8px;
        line-height: 1.1em;
    }
    .title-card p {
        font-size: 20px;
    }
    .catch-container {
        flex-direction: column;
    }
    .catch-container > .catch-info {
        padding: 20px;
        padding-bottom: 90px;
        width: 100%;
    }
    .catch-container > .catch-info > .catch-info-inner {
        width: 100%;
        padding: 0px;
    }
}