/* variables for css */

:root {

    /* colors */
    --color-primary-title: rgb(0, 17, 34);
    --color-catch-title: rgb(51, 51, 51);
    --color-catch-text: rgb(136, 136, 136);

    --color-white: white;
    --color-black: black;

    --color-primary-background: #f1f1f1;
    --color-secondary-background: rgb(221, 221, 221);
    --color-catch-background: rgb(23, 24, 28);
    --color-navbar-background: rgb(23, 24, 28);
    --color-footer-background: rgb(34, 34, 34);


    --color-button: rgb(34, 34, 34);


    /* fonts */
    --font-family-primary: "Inter", sans-serif;
    --font-family-body: var(--font-family-primary);
    --font-family-heading: var(--font-family-primary);

    --font-family-example-1: "LoveLive";
    --font-family-example-2: "YourMurdererBB";
    --font-family-example-3: "Orbitron";
    --font-family-example-4: "Righteous";


    /* font weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;


    /* font size */
    --font-size-xs: 15px;  /* 14px maybe das in rem umrechnen später*/  
    --font-size-s: 24px;  /* 24px */
    --font-size-m: 50px;  /* 50px */
    --font-size-l: 56px;  /* 56px */
    --font-size-xl: 100px; /* 83px */

    /* font sizes for the examples in intro card*/
    --font-size-example-1: 50px;
    --font-size-example-2: 60px;
    --font-size-example-3: 45px;
    --font-size-example-4: 50px;
   

    /* letter spacing */
    --catch-title-spacing: -2px;
    --catch-text-spacing: -0,5px;

    /* line height */
    --catch-title-line-height: 1.2em;
    --catch-text-line-height: 1.5em;

}

@media (max-width: 800px) {
    :root {
        /* font sizes for phones*/
        --font-size-xs: 15px; 
        --font-size-s: 24px;  
        --font-size-m: 50px;  
        --font-size-l: 50px;  
        --font-size-xl: 60px; 
    }
}

/* dynamic adjustement for the font sizes of the examples for different screen sizes */
@media (max-width: 1470px) {
    :root {
        --font-size-example-1: 40px;
        --font-size-example-2: 50px;
        --font-size-example-3: 35px;
        --font-size-example-4: 40px;

    }
}

@media (max-width: 1210px) {
    :root {
        --font-size-example-1: 35px;
        --font-size-example-2: 45px;
        --font-size-example-3: 30px;
        --font-size-example-4: 35px;

    }
}

@media (max-width: 1100px) {
    :root {
        --font-size-example-1: 40px;
        --font-size-example-2: 50px;
        --font-size-example-3: 35px;
        --font-size-example-4: 40px;

    }
}