/* variables for css */

:root {

    /* colors */
    --color-primary-title: rgb(0, 17, 34);
    --color-catch-title: rgb(51, 51, 51);
    --color-catch-text: rgb(117, 117, 117);
    --color-info-text: rgb(49 57 66);

    --color-white: white;
    --color-black: black;

    --color-primary-background: var(--color-white);
    --color-secondary-background: #f7f7f7;
    --color-catch-background: rgb(23, 24, 28);
    --color-navbar-background: rgb(23, 24, 28);
    --color-footer-background: rgb(34, 34, 34);

    --color-button: rgb(34, 34, 34);

    /* colors for aspect */
    --text: #020a15;
    --background: #f9fcfe;
    --primary-blue: #6bafff;  
    --secondary: #ffa49f;
    --accent-red:  #ff6b6b;  
    --accent-light: #ECF0F2;
    --accent: #f26172;
    --primary: #4690f0;

    /* colors for cards*/
    --purple: #F1EBFF;
    --red: #ffebf2;
    --blue: #ebefff;
    --green: #EDF9F2;



    /* fonts */
    --font-family-primary: "Inter",  "Arial" , sans-serif;
    --font-family-body: var(--font-family-primary);
    --font-family-heading: var(--font-family-primary);

    --font-family-example-1: "LoveLive";
    --font-family-example-2: "YourMurdererBB";
    --font-family-example-3: "Orbitron";
    --font-family-example-4: "Righteous";


    /* font weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;


    /* font size */
    --font-size-xs: 15px;  /*  maybe das in rem umrechnen später*/  
    --font-size-s: 24px;  
    --font-size-m: 50px;  
    --font-size-l: 56px;  
    --font-size-xl: 100px; 
    --font-size-title-text: 35px;
    --font-size-aspect-title: 80px;
    --font-size-info-title: 50px;

    --font-size-title: 32px;
    --font-size-text: 22px;



    /* font sizes for the examples in intro card */
    --font-size-example-1: 40px;
    --font-size-example-2: 52px;
    --font-size-example-3: 35px;
    --font-size-example-4: 40px;
   

    /* letter spacing */
    --catch-title-spacing: -2px;
    --catch-text-spacing: -0,5px;

    /* line height */
    --catch-title-line-height: 1.2em;
    --catch-text-line-height: 1.5em;
    
}




/* font sizes for smaller screens*/
@media (max-width: 1000px) {
    :root {
        --font-size-xs: 15px; 
        --font-size-s: 24px;  
        --font-size-m: 50px;  
        --font-size-l: 50px;  
        --font-size-xl: 60px;
        --font-size-title-text: 25px;
        --font-size-aspect-title: 60px;
        --font-size-text: 20px;
        --font-size-info-title: 40px;
    }
}

